<h1>お気に入り一覧</h1>
<table>
  <tr>
    <th>画像<th>
    <th>内容<th>
  </tr>
  <% @favorites.each do |favorite| %>
  <tr>
    <td><%= image_tag favorite.instagram.image.url %></td>
    <td><%= favorite.instagram.content %></td>
  </tr>
  <% end %>
</table>
<td><%= link_to "投稿一覧へ戻る",instagrams_path %></td>
